<br><br>
<html>
    <body>
        <br>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="save()">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" placeholder="Enter email" class="form-control" formControlName="email"   name="email" #email>
                                <div *ngIf="submitted && f.email.errors" class="text-danger">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password" formControlName="password">
                                <div *ngIf="submitted && f.password.errors" class="text-danger">
                                    <div *ngIf="f.password.errors.required">password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                </div>
                            </div>
                            <div class="row align-items-center remember">
                                <input type="checkbox">Remember Me
                            </div>
                            <div class="form-group">
                                <button type="submit" [disabled]="loginForm.controls.valid" value="Login" class="btn float-right login_btn" >Login</button>
                            </div>
                        </form>
                    </div>
                    <!-- <button (click)="ListUser(id)" class="btn btn-primary"></button> -->
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a routerLink="/register">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
        </html>